In [29]:
# Dependencies 
import openweathermapy.core as owm
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import json
import requests
from citipy import citipy 
import random

In [30]:
# Import api_key 
from config import api_key

In [37]:
#Randomly select at least 500 unique (non-repeat) cities based on latitude and longitude:
    # Latitude in degrees is -90 and +90 
    # Longitude is in the range -180 and +180 

#Creating a dataframe to display the values
cities_df = pd.DataFrame(columns =
                            ['City',
                             'Latitudes',
                             'Longitudes',
                            ])
# Holding the variables 
lat = []
lng = []
cities = []

#Creating loops to go through random lat and lng and assigning cities based on coordinates picked
    #2000 was chosen in order to ensure that atleast 500 would be unique (non-repeat) cities
for x in range(0,2000):
    lat.append(random.uniform(-90,90))
    lng.append(random.uniform(-180,180))
cities_df['Latitudes']  = lat
cities_df['Longitudes'] = lng

for index, row in cities_df.iterrows():
    city = citipy.nearest_city(row["Latitudes"],row["Longitudes"])
    cities.append(city.city_name)
cities_df['City'] = cities

#Displaying the top five 
cities_df.head()

           City  Latitudes  Longitudes
0        avarua -52.388845 -165.266788
1  rio gallegos -49.780707  -69.489026
2       rikitea -47.888430 -109.815660
3       rikitea -46.267489 -115.667541
4         ancud -42.248223  -78.605599

In [38]:
new_cities_df = cities_df.drop_duplicates("City",keep = "first")
len(new_cities_df)

759